<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/script.js"></script>
    <link rel="stylesheet" href="Page1.css">
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-controller="myController">
    <table>
        <thead>
            <tr>
                <th>Technologies</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Likes/Dislikes</th>
            </tr>
        </thead>
        
        <tbody ng-repeat="technology in technologies">
            <tr>
                <td>{{ technology.name }}</td>
                <td>{{ technology.likes }}</td>
                <td>{{ technology.dislikes }}</td>
                <td>
                    <input type="button" value="Like" ng-click="incrementLikes(technology)" />
                    <input type="button" value="Dislike" ng-click="incrementDislikes(technology)" />
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>